html {
  /* font-size: 11px; */
}

body {
  background-color: #fafafa;
  margin: 0;
}
table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
}


h1,h2{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 10;
  bottom: 0;
  border-top: 1px solid rgb(101, 101, 101);
  width: 100%;
  background-color: aliceblue;
}
nav a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: rgb(211, 152, 24);
}
#profilepicturediv {
  text-align: center;
}

img {
  max-width: 25%;
  height: auto;
}

#profileimagediv {
  height: 100px;
  width: 100px;
}

#contextinfo {
  display: none;
}

#accesstokendata,
#profileinfo {
  display: none;
}

.buttongroup {
  text-align: center;
}

button {
  margin: 4px;
  padding: 4px 8px;
}


/* faq */
.faq__container {
  margin: 10px;
}

.faq__container details {
  margin-bottom: 8px;

}

.faq__container summary {
  padding: 8px 20px;
  background-color: rgb(175, 254, 254);
  border-radius: 8px;
  position: relative;
  display: block; /* 矢印を消す */
  padding-left: 20px; /* アイコン分の余白 */
  cursor: pointer;
}

.faq__container p {
  margin-block-start: 0;
  padding: 8px 8px 12px;
  background-color: rgb(220, 255, 255);
  border-radius: 8px;
}

summary::-webkit-details-marker {
  display: none; /* 矢印を消す */
}
/* 疑似要素でアイコンを表示 */
summary:before,
summary:after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
summary:before {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #767777;
}
summary:after {
  left: 6px;
  width: 5px;
  height: 5px;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  box-sizing: border-box;
  transition: .5s;

}
/* オープン時 */
details[open] summary:after {
  transform: rotate(90deg); /* 90度回転 */
  left: 4px;
  top: 5px;
  transition: .5s;
}




/* access */
.access_info{
    padding: 4px;
    list-style-type: none;
}

.access_info li{
    border-top: 1px solid rgb(164, 164, 164);
    padding: 4px;
    margin-bottom: 4px;
}
.g__map {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.g__map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


section{
    background-color: #fafafa;
}