
html {
    /* font-size: 11px; */
}
 
body{
    background-color: rgb(218, 254, 254);
    margin:0;

}
table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div {
    max-width: 100%;
    text-align: center;
}

nav{
    /* border : solid 1px #333; */
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    bottom:0;
    border-top : 1px solid rgb(101, 101, 101);
    width : 100%;
    background-color: aliceblue;
}
nav a{
    display: inline-block;
    text-align: center;
    padding : 10px;
    text-decoration: none;
    color: rgb(211, 152, 24);
}
#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv {
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none;
}

#accesstokendata, #profileinfo {
    display: none;
}

.buttongroup {
    text-align: center;
}

button {
    margin: 4px;
    padding : 4px 8px;
}


.faq__container{
    margin:10px;
}