
html {
    font-size: 11px;
}
 
body{
    background-color: rgb(218, 254, 254);
}
table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div {
    max-width: 100%;
    text-align: center;
}

nav{
    border : solid 1px #333;
}
nav a{
    display: inline-block;
    width : calc(100% /3);
    text-align: center;
}
#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv {
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none;
}

#accesstokendata, #profileinfo {
    display: none;
}

.buttongroup {
    text-align: center;
}

button {
    margin: 4px;
    padding : 4px 8px;
}
